.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 1rem;
  max-width: 800px;
  width: 100%;
  background-color: wheat;
}

.article-title {
  text-align: center;
}

.article-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.article-references {
  margin-top: 2rem;
}

.article-references ul {
  list-style: disc;
  margin-left: 2rem;
}
