.carousel-video {
  padding-top: 100px;
  padding-bottom: 100px;
}

.react-player {
  display: flex;
  justify-content: center;
}

.react-multiple-carousel__arrow--left {
  height: 100px;
  width: 100px;
}
.react-multiple-carousel__arrow--right {
  height: 100px;
  width: 100px;
}
